    *{
        margin: 0px;
        padding: 0px;
    }
    
    html {
        font-size: 62.5%;
    }

    body {
        background-image: url('background.png');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    overflow: hidden;

    }

    .logo1 {
        position: relative;
        height: 4rem;
        width: 6.7rem;
        margin: -0.6rem;
    }

    .home {
        float: right;
        padding: 1.1rem;
        margin: -0.1rem;
        color: white;
        font-family: "Audiowide", sans-serif;
        position: relative;
        font-size: 1.5rem;
        left: 69.6rem;
    }

    .home:hover {
        color: aqua;
    }

    .home::after {
        content: '';
        width: 0%;
        height: 0.3rem;
        position: absolute;
        bottom: 0.5rem;
        left: 25%;
        transform: translate(-30%);
        background: #fff;
        transition: width 0.3s;
    }

    .home:hover::after {
        width: 20.6%;
    }

    .container1 {
        /* position: relative;
        top: 9em;
        left: 7em;
        margin: 2px; */
        position: relative;
        top: 9rem;
        left: 7rem;
        margin: 0.2rem;
        height: -0.1rem;
        width: 56rem;
    }

    /* h2 {
        color: #fff;
        font-size: 5rem;
    } */

    .container1 p {
        font-family: 'Poppins' sans-serif;
        position: relative;
        color: #fff;
        height: 2.3rem;
        font-size: 3rem;
        line-height: 1rem;
        top: -2.5rem;
    }

   .container1 h2 {
        position: relative;
        font-family: 'Poppins' sans-serif;
        color: transparent;
        -webkit-text-stroke: 0.1rem #fff;
        font-size: 7rem;
        line-height: 1rem;
        border: 1.2rem;
        margin: -0.3rem;
        height: 5.9rem;
        background-image: url('back.png');
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;

    }

    @keyframes back {
        100% {
            background-position: 200rem 0;
        }
    }

   .container1 h3 {
        color: #fff;
        line-height: 1rem;
        font-size: 1rem;
        font-family: 'Poppins' sans-serif;
        position: relative;
        top: 19rem;
        left: 38.4rem;
    }

   .container1 .iam {
        color: #fff;
    }

    .button1 {
        position: relative;
        top: 17.7rem;
        left: 7rem;
        background-color: transparent;
        font-family: 'Poppins' sans-serif;
        border-color: #fff;
        color: #fff;
        padding: 1.2rem;
        margin: 0.4rem;
        border-radius: 0.1rem;
        border: 0.2rem solid #fff;
        cursor: pointer;
    }

    .button2 {
        position: relative;
        top: 17.7rem;
        left: 8rem;
        background-color: transparent;
        font-family: 'Poppins' sans-serif;
        border-color: #fff;
        color: #fff;
        padding: 1.2rem;
        margin: 0.4rem;
        border-radius: 0.1rem;
        border: 0.2rem solid #fff;
        cursor: pointer;
    }

    .arrow1 {
        position: relative;
        font-size: 2.4rem;
        line-height: 0.8rem;
        margin: 0.7rem;
    }

    #threelogo {
        position: relative;
        left: 72rem;
        display: flex;
        flex-direction: column;
        height: 5.3rem;
        width: 5.3rem;

    }

    #threelogo img {
        margin: 1.3rem 0.5rem;
        height: 3.1rem;
        width: 3.1rem;
        display: block;
        position: relative;
        left: 43rem;
        top: 6.3rem;
    }

    .about p {
        color: #fff;
        font-family: 'Poppins' sans-serif;
        position: relative;
        top: 1.1rem;
        left: 1.0rem;
        font-size: 1.5rem;

    }

    .about {
        position: relative;
        height: 13.1rem;
        width: 40.1rem;
        top: 9.8rem;
        left: 44.5rem;

    }

    @media (max-width:998px) {
        html {
            font-size: 55%;
        }
    }

    @media (max-width:769px) {
        html {
            font-size: 55%;
        }
    }

    @media (max-width:462px) {
        html {
            font-size: 55%;
        }
    }

    @media (max-width:375px) {
        html {
            font-size: 50%;

        }
    }

    @media (max-width:360px) {
        html {
            font-size: 27.3%;

        }
    }